header{
    display:flex;
    justify-content: space-between;

    height: 4rem;
    padding: 0 5rem;

    background-color: moccasin;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 3rem;
}
.user img{
    height: 3rem;
}